*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
:root{
    --Almost-White: hsl(0, 0%, 98%);
--Medium-Gray: hsl(0, 0%, 41%);
--Almost-Black: hsl(0, 0%, 8%);

}
.container{
    height: 70px;
}
ul {
    list-style: none;
}
ul li a{
    text-decoration: none;
}
nav{
    font-size: 15px;
}
ul li a{
    color: var(--Medium-Gray);
}
ul li a:hover,ul li a:focus{
    color: var(--Almost-Black);
}
nav .register .regis{
    border: 1px solid var(--Almost-Black);
    border-radius: 15px;
}
nav .navbar-nav .menutag{
    background-color: white;
    display: none;
    line-height: 2.5;
    
}

@media (min-width:100px) and (max-width:991px) {
    nav .register a{
        text-align: center;
    }
}
@media (min-width:992px){
    nav .navbar-nav {
        position: relative;
    }
    nav .navbar-nav .menutag{
        position: absolute;
        padding: 20px 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px var(--Medium-Gray);
        top:40px;
        
    }
    
}
nav ul  .active .feat_show{
    display: block;
}
nav ul  .active .comp_show{
    display: block;
}
.rotat {
    transform: rotate(180deg);
    transition: ease-in-out 2s;
}
@media (min-width:100px) and (max-width:991px){
    .header .row{
        flex-direction: column-reverse;
    }
}
.header h2{
    font-weight: 700;
    font-size: 51px;
    color: var(--Almost-Black);
}
.header p{
    color: var(--Medium-Gray);
    font-size: 15px;
    width: 80%;
}
.header button{
    border: 1px solid black;
    color: black;
    font-size: 15px;
    padding: 7px 30px;
    background: white;
    border-radius: 15px;
    font-weight: 600;
}
.header button:hover,.header button:focus{
    color:white;
    background-color: var(--Almost-Black);
}
.header .images{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(119.67px,1fr));
    gap: 10px;
}